{{#with data}}
	<div class="featured_card">
	{{!-- <div class="featured_content"> --}}
		<div class="featured_photo">
			<img class="featured_image" src="{{photo}}" alt="main_image">
		</div>

		<div class="featured_content">
			<h1 class="featured_title"> {{heading}} </h1>
			<p class="featured_text"> {{info}} </p>
		</div>
		<div class="">
			<a class="button featured_button" href="{{linkUrl}}">
				{{linkText}}
			</a>
		</div>
	</div>
{{/with}}










