<div>
	{{!-- <h1 class="hero_title"> {{hero.title}} </h1>
	<p class="hero_text"> {{hero.text}} </p> --}}
	{{!-- ||||||||||||||||||||||| --}}
	{{!-- {{#with hero}} --}}
	{{!-- ||||||||||||||||||||||| --}}
	{{!-- {{#with data}}
		<h1 class="hero_title"> {{title}} </h1>
		<p class="hero_text"> {{text}} </p>
	{{/with}} --}}
	{{!-- ||||||||||||||||||||||| --}}
		<h1 class="hero_title"> {{title}} </h1>
		<p class="hero_text"> {{text}} </p>
</div>